@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

:root {
  --fontfamily: "Afacad Flux", Arial, sans-serif;
  --backgroundcolor: #f4f4f4;
  --primary-color: #fbca1f;
  --linecolor: #e0e0e0;
}

body {
  font-family: var(--fontfamily);
  background-color: var(--backgroundcolor);
  margin-top: 40px;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: fit-content;
  height: max-content;
  margin: auto;
  padding: 20px;
  background-color: var(--backgroundcolor);
  font-family: var(--fontfamily);
  color: #333;
}

h2 {
  margin-top: 0.5em;
  font-family: var(--fontfamily);
}

.calculator {
  width: 750px;
  height: 720px;
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.order {
  width: 250px;
  height: 720px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.orderList {
  overflow-y: auto;
  scrollbar-width: none;
  height: 600px;
  margin-bottom: 10px;
}

.orderItem {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.orderTitle {
  font-weight: bold;
  color: #333;
  padding-left: 15px;
}

.orderLabel {
  font-weight: bold;
  color: #666;
  margin: 0;
  padding-left: 15px;
}

.orderLine {
  background-color: var(--linecolor);
  height: 2px;
  margin: 10px 0;
}

.line {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 10px 20px;
  background-color: var(--linecolor);
  height: 2px;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}

.inputGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px 20px;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.inputItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--primary-color);
  font-family: var(--fontfamily);
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.inputItem:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.inputItem:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.itemLabel {
  font-size: 18px;
  margin-bottom: 5px;
}

.itemPrice {
  font-size: 17px;
  font-weight: bold;
  color: #444;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 10px;
}

#resetButton {
  background-color: #f44336;
  text-shadow: 1px 1px 3px #fff;
  grid-column: 1 / span 2;
  width: inherit;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 5px;
  font-family: var(--fontfamily);
  padding: 0.6em 1.3em;
  font-weight: 900;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

#resetButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#resetButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#onSiteButton,
#deliveryButton {
  background-color: #008cba;
  width: inherit;
  text-shadow: #fff 1px 1px 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  font-family: var(--fontfamily);
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

#onSiteButton {
  background-color: #45a049;
}

#onSiteButton:hover,
#deliveryButton:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#onSiteButton:active,
#deliveryButton:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: relative;
  background-color: var(--primary-color);
  border: #000000 4px solid;
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  text-align: start;
}

.close-button {
  position: absolute;
  top: 4px;
  right: 15px;
  cursor: pointer;
  font-size: 34px;
}

.close-button:hover {
  color: #bc0000;
}
